extends layout

block content
    h1= title
    form(type='post', action='/files/upload', enctype='multipart/form-data')
        input(type='file', name='file')
        button(type='submit', name='Upload') Upload